---
const personalImageAlt = "Miguel Ángel";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Soy un Desarrollador Full Stack con 2 años de experiencia creando
      aplicaciones web escalables con tecnologías como <strong>React</strong>, <strong
        >Angular</strong
      >, <strong>Nest.js</strong>, <strong>.NET</strong> y <strong
        >PostgreSQL</strong
      >. He trabajado en equipos ágiles, contribuyendo a todas las fases del
      desarrollo de proyectos, desde la planificación hasta la ejecución y
      retrospectiva, siempre buscando optimizar el flujo de trabajo y la calidad
      del producto final.
    </p>

    <p>
      Mi carrera comenzó en el desarrollo de plataformas educativas, creando una
      app gamificada para enseñar historia y geografía con <strong
        >Angular</strong
      > y <strong>NestJS</strong>. Posteriormente, trabajé en proyectos de mayor
      escala, como sistemas de gestión de farmacias y soluciones para la gestión
      empresarial. En estos proyectos, integré herramientas como <strong
        >SQL Server</strong
      > y <strong>.NET Core</strong>, lo que resultó en una mayor eficiencia
      operativa y en el cumplimiento normativo.
    </p>

    <p>
      Como Licenciado en <strong>Análisis de Sistemas</strong>, y actualmente
      con estudios de máster en <strong>Frontend</strong>, mi objetivo es seguir
      desarrollándome como profesional, contribuyendo a proyectos <strong
        >open-source</strong
      > y creando contenido educativo. Fuera del trabajo, disfruto del ciclismo recreativo,
      el voleibol y los videojuegos, lo que me permite mantener un equilibrio entre
      la productividad profesional y mis pasiones personales.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/me.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>

<!-- FRASES PROHIBIDAS EN VUESTRO PORTFOLIO

<p>
  Mi sueño es encontrar mi primer empleo en el mundo de la programación. Una empresa donde pueda seguir aprendiendo. ❌
</p>

<p>
  ❌ Apasionado de la programación desde chekitito. Me encantan los ordenadores y crear páginas web buenas y rápidas con la última tecnología.
</p>

<p>
  Trabajo bien en equipo. Siempre estoy aprendiendo cosas nuevas.
</p>

-------------------------------------

--------------------------------------

<p>
  ¡Soy Leo! Estudié Derecho Empresarial y, tras años ejerciendo, me pasé al mundo de la Programación. Desde entonces disfruto creando experiencias web para los usuarios.
</p>

<p>
  Entre mis éxitos destaco que durante el Grado Superior, ayudé a mis compañeros a aprender sobre TDD. Me encanta el testing, creo en su importancia, y me gusta compartir mi conocimiento sobre ello.
</p>

<p>
  Cuento con experiencia desarrollando aplicaciones móviles, y he creado una iniciativa llamada X para mezclar mis dos pasiones: la programación y el derecho. Ayudando a la sociedad a acceso a una defensa justa.
</p>

---------------------------------------

<p>Me llamo Sara, tengo 25 años y soy de Santiago, Chile 🇨🇱. Terminé mis estudios como Desarrolladora Web. Me encanta enfocarme en la parte del rendimiento, para ofrecer la mejora experiencia al usuario.</p>

<p>
  Colaboro en la organización del MeetUp local BeerJS donde reunimos a desarrolladores de Santiago para compartir conocimiento y experiencias. El año 2023 hicimos un total de 25 charlas con más de 2000 asistentes.
</p>

<p>
  Además de participar activamente en la comunidad, he participado en la Hackathon de Midudev quedando en 3er puesto con mi proyecto _Chatty_, donde usando IA podías interactuar con un PDF. ¡Échale un vistazo!
</p>

-->
